{% load static %}
<div class="col-lg-10">
	<div class="popular page_section">
		<div class="container">
			<div class="row">

					<div class="col-lg-7">
						<div class="section_title text-center">
						<h4 style="color:orange">Duyurular</h4>
						</div>
						<ul class="list-link">
						{% for rs in duyurular %}
							<li> <a href="/content/{{ rs.id }}/{{ rs.slug}}" style="color:black"> {{ rs.title }}</a> </li>
						{% endfor %}
					</ul>
					</div>
					<div class="col-lg-5">
						<div class="section_title text-center">
						<h4 style="color:orange">Haberler</h4>
						</div>
						<ul class="list-link">
						{% for rs in news %}
							<li> <a href="/content/{{ rs.id }}/{{ rs.slug}}" style="color:black"> {{ rs.title }}</a> </li>
						{% endfor %}
					</ul>
					</div>

				</div>
			<div class="row">
				  <div class="row course_boxes">

                {% for rs in books %}
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="{{ rs.image.url }} " width="100" height="300">
						<div class="card-body text-center">
							<div class="card-title"><a href="/book/{{ rs.id }}/ "><p style="color:orange">{{ rs.title }}</p></a></div>
							<div class="card-text"> {{ rs.author }}</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">

							<div class="course_author_name"> {{ rs.amount }} <span>Adet Kaldı</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span></span></div>
						</div>
					</div>
				</div>

			{% endfor %}
                </div>
			</div>


			</div>
		</div>
	</div>




</div>
