{% load static %}
<div class="col-lg-8">
	<div class="popular page_section">
		<div class="container">
			<div class="row">

					<div class="col-lg-7">
						<div class="section_title text-center">
						<h4>Duyurular</h4>
						</div>
						<ul class="list-link">
						{% for rs in duyurular %}
							<li> <a href="/content/{{ rs.id }}/{{ rs.slug}}"> {{ rs.title }}</a> </li>
						{% endfor %}
					</ul>
					</div>
					<div class="col-lg-5">
						<div class="section_title text-center">
						<h4>Haberler</h4>
						</div>
						<ul class="list-link">
						{% for rs in news %}
							<li> <a href="/content/{{ rs.id }}/{{ rs.slug}}"> {{ rs.title }}</a> </li>
						{% endfor %}
					</ul>
					</div>

				</div>


			</div>
		</div>
	</div>




</div>
