
{% load static %}

<script>
		$(function() {
   		 $("#query").autocomplete({
      		source: "/search_auto/",
      		select: function (event, ui) { //item selected
        		AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  		function AutoCompleteSelectHandler(event, ui)
 		 {
   			 var selectedObj = ui.item;
  		}
	</script>
	<header class="header d-flex flex-row">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="static/images/logo.png" alt="">
					<h5>Kütüphane Otamasyon </h5>

				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="/">Anasayfa</a></li>
						<li class="main_nav_item"><a href="/">Hakkımızda</a></li>
						{% if menu  %}
						{% load mptt_tags %}
						{% recursetree menu %}
						<li class="main_nav_item dropdown ">
							<button type="button"  style="margin-bottom:4px;" class="btn dropdown" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}> <a href="/menu/{{ node.id }}">
													<span style="font-family: 'Open Sans', sans-serif;font-size: 14px;text-transform: uppercase;font-weight: 700;color: #3a3a3a;">	{{ node.title}} </span> </a></button>



														<div class="dropdown-menu">
													<div class="btn-group droprightt">
														<div class="col-lg-10">

															{% if not node.is_leaf_node %}
																<ul class="children">
																	<li> <span> {{ children }}</span> </li>
																</ul>
          										  			{% endif %}
														</div>
													</div>
												</div>
										</li>

								{% endrecursetree %}
						{% endif %}



						</li>

						<li class="main_nav_item"><a href="/referans">Referanslar</a></li>

						<li class="main_nav_item"><a href="/contact">İletişim</a></li>
					</ul>
					<form class="form-inline my-2 my-lg-0" " action="/search/" method="post">
						{% csrf_token %}
						<input id="query" style="width:400px;" class="form-control mr-sm-2" type="search" placeholder="Ara" name="query">
     					 <button style="margin-bottom:2px"; class="btn btn-outline-warning my-2 my-sm-0" type="submit">Ara</button>
   					 </form>
				</div>
			</nav>
		</div>

			<div class="header_side d-flex flex-row justify-content-center align-items-center">
				{% if user.id is not None %}
				<ul class="sidebar_list">



										<li class="dropdown">
											<img src="{{ profil.image.url}}" style="width:50px;height:50px; margin-left:10px;" height="50px">
											<button type="button" class="btn dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													<span style="color:white;"> {{ user.first_name }} &nbsp;&nbsp; </span>
											</button>

												<div class="dropdown-menu" style="background:orange;">
													<div class="btn-group dropleft">
														<div class="col-lg-10" >

																<ul class="children" >
																	<li> <a href="/user"> <span> Hesabım </span> </a></li>
																	<li> <a href="/user/orders"> <span> Şiparişlerim </span> </a></li>
																	<li> <a href="/logout"> <span> Çıkış </span> </a></li>
																</ul>

														</div>
													</div>
												</div>

											<button type="button" class="btn"  aria-haspopup="true" aria-expanded="false" >
												<a href="/loancart">	<span style="color:white;"> Sepetim </span> </a> </button>
										</li>


							</ul>


				{% else %}
					<a href="/login"><span style="color:white;">Giriş | </span></a>
					<a href="/join"><span style="color:white;">| Join</span></a>

			</div>
			{% endif %}





		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>

		</div>

	</header>



