 {% extends "homebase.html" %}

 {% block title %} {{ categorydata.title }} {% endblock %}
 {% block keywords %} {{ categorydata.keywords }} {% endblock %}
 {% block description %} {{ categorydata.description}} {% endblock %}
 {% block head %}
     <link rel='shortcut icon' type="image/x-icon" href="{{ setting.icon.url}} " />
 {% endblock %}
  {% block body %}

 {% load static %}
 <div class="hero_slider_container">
			<div class="hero_slider owl-carousel">

				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url({% static 'images/event_1.jpg' %})"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> {{ category.title}}  </h1>
						</div>
					</div>

					</div>
				</div>
            </div>


			<div class="container">
				<div class="row">
					{% include "sidebar.html" %}
					<div class="col-lg-8">
						<div class="popular page_section">
						<div class="container">
							<div class="row">
								<div class="col">
					<div class="section_title text-center">
						<h1> {{ categorydata.title}} Kitapları</h1>
					</div>
				</div>
								</div>

							<div class="row course_boxes">

				{% for rs in books %}
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="{{ rs.image.url }} ">
						<div class="card-body text-center">
							<div class="card-title"><a href="/book/{{ rs.id }}/ ">{{ rs.title }}</a></div>
							<div class="card-text"> {{ rs.author }}</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">

							<div class="course_author_name"> {{ rs.amount }} <span>Adet Kaldı</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span></span></div>
						</div>
					</div>
				</div>

			{% endfor %}


					</div>
							</div>


		        </div>
					</div>

	            </div>




             </div>

 </div>


 {% endblock %}

