
<div class="col-lg-2">

					<div class="sidebar">
						<div class="section_title text-center">
						<div class="sidebar_section">
							<div class="sidebar_section_title" style="margin-top:100px">

									<h3>Kategori</h3>
							</div>

								<ul class="sidebar_list">

									{% load mptt_tags %}
									{% recursetree category %}

										<li class="dropdown">
											<button type="button" class="btn dropdown" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}> <a href="/category/{{ node.id }}/{{ node.slug }}">
													<span>{{ node.title}} </span> </a></button>
												<div class="dropdown-menu">
													<div class="btn-group droprightt">
														<div class="col-lg-10">

															{% if not node.is_leaf_node %}
																<ul class="children">
																	<li> <span> {{ children }}</span> </li>
																</ul>
          										  			{% endif %}
														</div>
													</div>
												</div>
										</li>

								{% endrecursetree %}
							</ul>
						</div>
						</div>

						</div>


				</div>

