 {% extends "homebase.html" %}

 {% block title %} {{profil.user_name}} {% endblock %}
 {% block keywords %} {{ setting.keywords }} {% endblock %}
 {% block description %} {{ setting.description}} {% endblock %}
 {% block head %}
     <link rel='shortcut icon' type="image/x-icon" href="{{ setting.icon.url}} " />
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 {% endblock %}


 {% block body %}
 {% load static %}
 <div class="hero_slider_container">
			<div class="hero_slider owl-carousel">

				<!-- Hero Slide -->
				<div class="hero_slide" style="height:450px;">
					<div class="hero_slide_background" style="background:orange;"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<h1 style="color:white;" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Kullanıcı Profili</h1>

					</div>
				</div>
            </div>
 </div>


 <div class="popular page_section">
	 <div class="container">
	 <div class="contact">
		 <div class="container">
			 <div class="row">
				 <div class="col-md-3">

					 <h4>Kullanıcı Paneli </h4>
					 {% include "user_panel.html" %}

				 </div>


				 <div class="col-md-9">

					 <h4>Kullanıcı Bilgileri</h4>

					 <img src="{{user.userprofil.image.url}}" style="margin-bottom:15px;margin-left:250px;" width="70" height="70">
					 <br>
					 {% if messages %}
							{% for message in messages %}
								<div style="color:red; font-size: medium">
									{{ message|safe }}
								</div>
							{% endfor %}
						{% endif %}
					<form method="post" >
					 {% csrf_token %}
						{% for field in form %}
							<p>
								{{ field.label_tag }} <br>
								{{ field }}
								{% if field.help_text %}
									<small style="color:grey"> {{ field.help_text }} </small>
								{% endif %}
								{% for error in fields.errors %}
									<p> {{ error}} </p>
								{% endfor %}
							</p>
						{% endfor %}
						<button type="submit" class="btn btn-warning">Değiştir</button>
				 </form>

				 </div>





				 </div>
			 </div>

		 </div>
	 </div>


 </div>
 </div>
 </div>


 {% endblock %}